<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" action="/userdash">
        <h1>USER</h1>
        <label for="username">Username</label>
        <input id="username" type="text" name="username" required><br>
        <label for="email">Email</label>
        <input id="email" type="email" name="email" required><br>
        <label for="password">Password</label>
        <input id="password" type="password" name="password" required><br>
        <input type="submit" value="Register">
    </form>
</body>
</html>